<div class="card">
    <h3 class="card-header">Login</h3>
    <form id="login-form" class="card-body">
        <label class="form-label" for="username">Username</label>
        <input id="username" type="text" autofocus="true" class="form-input" required>

        <label for="form-label" for="password">Password</label>
        <input id="password" type="password" autofocus="true" class="form-input" required>

        <button type="submit" class="btn">Login</button>
        <a href="/signup">Don't have an account? Sign up!</a>
    </form>
</div>

<script src="./js/login.js"></script>