<div class="card">
    <h3 class="card-header">Submit New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post_title" class="form-label">Title</label>
        <input type="text" name="post_title" id="post_title" class="form-input" required>

        <label for="post_text" class="form-label">Content</label>
        <input type="text" name="post_text" class="form-input" id="post_text" required>

        <button type="submit" class="btn">Submit</button>
    </form>
</div>

<script src="./js/add-post.js"></script>