<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form id="signup-form" class="card-body">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-input" required>

        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-input" required>
    </form>
</div>

<script src="./js/signup.js"></script>